
.wideInputText {
    width:30%
}

.tableHeight {
    max-height: 350px;
    overflow-y: scroll;
}

.spinner {
    color:rgb(17, 130, 208,0.5)}

.tableDeleteBtn {
    top:-45px;
    right:15px;
    z-index: 99999;
}